
<div class="container" style="text-align: center">
  <h1 class="center">
  are you really lost!
</h1>
  <img src="assets/404.jpg" alt="" class="403" style="width: 100%;max-width: 730px;margin: 20px 0 ">
  
</div>
<div class="col-4 offset-4">
  <button class="btn btn-primary" (click)="Loginagain()" style="min-width: 111px;">Login again</button>
</div>

<!-- <div class="container" style="text-align: center">
    <h1 class="center">
    are you really lost!
  </h1>
    <img src="assets/403.jpg" alt="" class="404" style="width: 100%;max-width: 730px;margin-top: 20px">
  </div> -->

  

