<div class="col-8 offset-2"  *ngIf="profile">
  <div class="row" style=" padding: 25px;margin-top: 25px;min-width: 400px;">  
    <div class="col-2">
        <table>
            <tr>
                <td>Username</td>
            </tr>
            <tr>
                <td>Email</td>
            </tr>
            <tr>
                <td>Full Name</td>
            </tr>
        </table>
      </div> 
      <div class="col-8" style="margin-left: 30px ">
          <table>
              <tr>
                  <td>: {{ profile.firstName }}</td>
              </tr>
              <tr>
                  <td>: {{ profile.email }}</td>
              </tr>
              <tr>
                  <td>: {{ profile.firstName }} , {{ profile.lastName }}</td>
              </tr>
          </table>
      </div>
      </div>
        <app-logout></app-logout>
</div>